@import './calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    /* Estilos para impressão */
    #header,
    #footer,
    #nav,
    .hidden,
    .print\:hidden {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 0;
        box-shadow: none;
        font-size: 12px; /* Ajuste o tamanho da fonte para impressão */
        line-height: 1.5; /* Ajuste a altura da linha para melhorar a legibilidade */
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px; /* Aumente o padding para melhorar o espaçamento */
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    .flex.justify-end.mb-4 {
        display: none !important;
    }

    .max-w-6xl.mx-auto.sm\:px-6.lg\:px-8.mt-8 {
        width: auto;
        margin: 0;
        padding: 0;
    }

    .px-6 {
        padding-left: 8px; /* Aumente o padding para melhorar o espaçamento */
        padding-right: 8px;
    }

    .py-4 {
        padding-top: 8px; /* Aumente o padding para melhorar o espaçamento */
        padding-bottom: 8px;
    }

    .m-4 {
        margin: 0 !important;
    }

    .p-6 {
        padding: 8px !important; /* Aumente o padding para melhorar o espaçamento */
    }

    .rounded-lg {
        border-radius: 0 !important;
    }

    .shadow {
        box-shadow: none !important;
    }

    .bg-white,
    .dark\:bg-gray-800 {
        background-color: white !important;
    }

    .border-gray-200 {
        border-color: #ccc !important;
    }

    .text-gray-900,
    .dark\:text-white {
        color: black !important;
    }

    /* Garantir que a tabela esteja centralizada na página */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    /* Ajuste de margem e padding */
    .container {
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* Estilos de fonte */
    body {
        font-family: Arial, sans-serif;
    }
}
