@import './calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
    body {
        font-size: 12px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        box-shadow: none;
        background-color: white !important;
        font-family: Arial, sans-serif;
    }

    #header,
    #footer,
    #nav,
    .hidden,
    .print\:hidden {
        display: none !important;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        vertical-align: top;
    }

    th {
        background-color: #f2f2f2;
        border-bottom: 2px solid #ccc;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .border, .border-t, .border-b, .border-l, .border-r, .border-gray-200, .dark\:border-gray-700 {
        border: none !important;
    }

    .mb-4, .mt-4 {
        margin: 0 !important;
    }

    .p-4, .p-6, .px-4, .py-4 {
        padding: 0 !important;
    }

    .text-center {
        text-align: center !important;
    }

    p, h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
    }
}
